/*
        Administration stylesheet for WP Ezine Articles plugin
*/
#mainwplogo
{
	float: right;
}
#mainwp_wrap-inside  .spinner_option-tab-wrapper
{
	clear: both;
	background: #f6f6f6;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 700px;
	position: relative;
	z-index: 0;
	margin: 0 0 0px;
	overflow: hidden;
}
.spinner_option-tab-wrapper .spinner_option-tab
{
	display: none;
}
.spinner_option-tab-wrapper .spinner_option-tab.current
{
	display: block;
}
#mainwp_wrap-inside .settings .spinner_option-list
{
	padding-left: 10px;
}
.spinner_option-list
{
	padding: 10px 0;
	clear: both;
}
#mainwparticle .spinner_option-list
{
	padding: 6px 0;
}
.sub-form .spinner_option-list
{
	padding: 4px 0;
}
.spinner_option-list label
{
	display: block;
	width: 180px;
	line-height: 24px;
	float: left;
}
.spinner_option-list .postbox label {
	line-height: 1.4em;
}
#mainwparticle .spinner_option-list label
{
	line-height: 18px;
	padding: 3px 0;
}
.sub-form .spinner_option-list label
{
	width: 150px;
}
.spinner_option-list .spinner_option-field
{
	margin: 0 0 0 200px;
}
.sub-form .spinner_option-list .spinner_option-field
{
	margin: 0 0 0 160px;
}
.spinner_option-field label
{
	display: inline;
	float: none;
	width: auto;
}
.spinner_option-field .text
{
	width: 440px;
	border-color: #ccc;
	margin-right: 10px;
}
#mainwparticle .spinner_option-field .text
{
	width: 100%;
}
.sub-form .spinner_option-field .text
{
	width: 400px;
}
.spinner_option-field .text-small
{
	width: 60px;
}
.spinner_option-field #in_num,
.spinner_option-field #in_remove_num
{
	width: 60px;
}
#in_hub_add_link
{
	width: 100%;
}
#nextcountdown
{
	color: 1080;
	font-size: 14px;
	font-weight: bold;
}
.spinner_option-list .keyword,
.spinner_option-list .feed-blog
{
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 0;
	margin: 0 0 10px;
	position: relative;
}
.spinner_option-list .keyword h4
{
	background: #666;
	color: #fff;
	margin: 0;
}
.spinner_option-list .keyword h4 a
{
	color: #fff;
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
.spinner_option-list .keyword .detail
{
	padding: 10px;
	display: none;
}
.spinner_option-list .keyword .keyword-select
{
	display: none;
}
.spinner_option-list .keyword label,
.spinner_option-list .feed-blog label
{
	width: 140px;
	clear: both;
}
.spinner_option-list .keyword .keyword-field,
.spinner_option-list .feed-blog .feed-blog-field
{
	margin: 0 0 0 150px;
	width: 340px;
}
.spinner_option-list .keyword .text,
.spinner_option-list .feed-blog .text
{
	width: 340px;
}
.spinner_option-list .keyword .text-small,
.spinner_option-list .feed-blog .text-small
{
	width: 60px;
}
.spinner_option-list .keyword .remove_keyword,
.spinner_option-list .feed-blog .remove_feed_blog
{
	position: absolute;
	top: 40px;
	right: 10px;
	font-size: 11px;
}
.spinner_option-list .keyword .available-column
{
	font-size: 10px;
}
.spinner_option-list .keyword .test_keyword
{
	position: absolute;
	top: 65px;
	right: 10px;
	font-size: 11px;
	text-align: right;
	display: block;
}
.spinner_option-list .keyword .keyword-field label
{
	display: inline;
	clear: none;
	float: none;
	width: auto;
}
.spinner_option-list .keyword-add,
.spinner_option-list .feed-blog-add
{
	display: none;
}
.spinner_option-list .loading-temp
{
	margin: 0 10px;
}
.datepick
{
	background: url('../../../../wp-admin/images/date-button.gif') no-repeat 5px 50%;
	padding-left: 25px;
	width: 125px;
}
.spinner_option-submit
{
	clear: both;
	border-top: 1px solid #999;
	background: #e6e6e6;
	margin: 0;
	padding: 20px;
}
.spinner_option-submit .synchronize
{
	margin: 0 0 10px;
	display: block;
}
#spinner_option-save-status, #spinner_test-spin-status
{
	float: right;
	font-size: 11px;
	text-align: right;
	width: 100%;
}

#spinner_infobox-spin, #spinner_errorbox-spin , #spinner_errorbox {
	display: none;

}

.sub-form .spinner_option-submit
{
	border: none;
	background: none;
	padding-top: 0;
	padding-left: 180px;
}
.spinner_save-loading
{
	visibility: hidden;
	margin: 0 0 0 10px;
	position: relative;
	top: 3px;
}
.spinner_mainwp-table-list
{
	margin: 20px 0 0;
	padding: 0;
	border: 1px solid #aaa;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.spinner_mainwp-table-list table
{
	border-spacing: 1px 1px;
}
.spinner_mainwp-table-list table td,
.spinner_mainwp-table-list table th
{
	padding: 4px 10px;
	text-align: left;
}
.spinner_mainwp-table-list table th
{
	background: #e6e6e6;
}
.spinner_mainwp-table-list table .template-name
{
	width: 200px;
}
.spinner_mainwp-table-list table .template-module
{
	width: 150px;
}
.schedule-once, .schedule-recurring
{
	display: inline;
}
#in_hub_stat
{
	padding: 10px 0;
	text-align: center;
}
#in_hub_stat span
{
	color: 1008000;
	font-size: 16px;
	font-weight: bold;
}
#in_hub_download_stat
{
	margin: 20px -15px 0;
	text-align: center;
}
.column-mainwp-grab
{
	width: 130px;
}
.column-mainwp-spin
{
	width: 90px;
}
.clearfix
{
	clear: both;
}
.keyword-bulk .postbox{
	margin-bottom: 0;
}
#mainwp_wrap-inside .keyword-bulk .mainwp_select_sites_box {
	margin-top: 0;
}

.mainwp_ext_info_box {
	background-color: #fff;
	border: 1px Solid #e5e5e5;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none !important;
}

.mainwp_ext_info_box a {
	text-decoration: none !important;
}

#mainwp-spin-tips {
	display: none;
}
.mainwp-spin-tut, #mainwp-spin-tips {
	display: none;
}

.mainwp_spinner_postbox .handlediv{
	float: right;
	height: 30px;
	width: 27px;
}
.mainwp_spinner_postbox .handlediv:before{
	content: '\f142';
}
.mainwp_spinner_postbox.closed .handlediv:before{
	content: '\f140';
}
.mainwp_spinner_postbox .handlediv:before{
	right: 12px;
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 8px 10px;
	top: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

.mainwp_spinner_postbox.closed > .inside{
	display: none;
}
